*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body {
    background-color: #6667AB;
    font-size: 14px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 100%;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #484877;
    width: 100%;
    padding: 20px;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    max-width: 650px;
    min-height: 100%;
    overflow-y: auto;
    margin: 0 auto;
}

.cell {
    background-color: lightgray;
    border: 1px solid #333;
    width: 10px;
    height: 10px;
}

.cell-painted {
    background-color: black;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: solid beige 1px;
    padding: 0 20px;
    margin: 0;
}

button {
    width: 200px;
    height: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px; 
    font-size: 16px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

input {
    width: 10%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    border-top: solid beige 1px;
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    background-color: #6667AB;
}

.footer {
    color: antiquewhite;
    display: flex;
    width: 100%;
    justify-content: center;
}